<section class="weather">
  <div *ngIf="loading">
    Loading...
  </div>
  <div class="weather__card" *ngIf="!loading">
    <div class="weather__image">
      <h1>
        {{inputCopy | titlecase}}
      </h1>
    </div>
    <ul class="weather__info">
      <li class="weather__temperature">
        Temperature: {{data.temperature}}
      </li>
      <li class="weather__wind">
        Wind: {{data.wind}}
      </li>
      <li class="weather__description">
        {{data.description}}
      </li>
    </ul>
    <h3 class="weather__forecast-title">
      Forecast
    </h3>
    <ul class="weather__forecast">
      <li *ngFor="let forecast of data.forecast">
        <p>
          {{forecast.temperature}}
        </p>
        <p>
          {{forecast.wind}}
        </p>
      </li>
    </ul>
  </div>

  <div class="weather__form">
    <input type="text" [(ngModel)]="inputCopy">
    <button type="button" (click)="getWeather()">
      Find
    </button>
  </div>
</section>
